@import '@/app/styles';

.page {
  padding: 50px 0px;
  @include adaptiveValue('padding-top', 50, 25);
  @include adaptiveValue('padding-bottom', 50, 25);

  min-width: 100%;
  display: flex;

  position: relative;
  z-index: 2;

  &__red {
    top: 25%;
    left: 10%;

    @media (max-width: $mobileSmall) {
      top: 10%;
      left: 10%;
    }
  }

  &__green {
    bottom: 0;
    right: 0;
  }
}

.section {
  width: 100%;
  min-height: 100%;
}
