@import '@/app/styles/base/mixins';

.services {
  padding: 50px 0px 0px 0px;
  @include adaptiveValue('padding-top', 50, 15);

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    @include adaptiveValue('gap', 20, 15);
  }

  &__title {
    font-size: 35px;
    @include adaptiveValue('font-size', 35, 25);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include adaptiveValue('gap', 30, 15);

    @media (max-width: $tablet) {
      justify-content: center;
    }
  }

  &__info {
    @include adaptiveValue('font-size', 16, 14);
  }

  &__arrow {
    padding: 30px 0px 0px 0px;
    @include adaptiveValue('padding-top', 30, 10);
    align-self: center;

    img {
      width: 80px;
      height: 150px;
      @include adaptiveValue('width', 80, 40);
      @include adaptiveValue('height', 150, 100);
      object-fit: contain;
    }
  }
}

.service {
  &__advantages {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    @include adaptiveValue('gap', 10, 5);

    li {
      padding: 0px 0px 0px 12px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        top: 7px;
        left: 0;

        background-color: #000;
        border-radius: 50%;
      }

      span {
        font-weight: 700;
      }
    }

    &.alternative {
      li {
        &::after {
          background-color: #fff;
        }
      }
    }
  }

  &__price {
    flex: 1 1 auto;
  }

  &__footer {
    padding: 50px 0px 0px 0px;
    @include adaptiveValue('padding-top', 50, 25);
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include adaptiveValue('gap', 15, 10);
  }
}
