@import '@/app/styles/base/mixins';

.arrow {
  align-self: center;

  img {
    width: 80px;
    height: 150px;
    @include adaptiveValue('width', 80, 40);
    @include adaptiveValue('height', 150, 100);
    object-fit: contain;
  }

  &__small {
    align-self: center;

    img {
      width: 60px;
      height: 130px;
      @include adaptiveValue('width', 60, 40);
      @include adaptiveValue('height', 130, 100);
      object-fit: contain;
    }
  }
}
