@import '@/app/styles/base/mixins';

.arrow {
  align-self: center;

  img {
    width: 80px;
    height: 150px;
    @include adaptiveValue('width', 80, 40);
    @include adaptiveValue('height', 150, 100);
    object-fit: contain;
  }

  &__small {
    align-self: center;

    img {
      width: 60px;
      height: 130px;
      @include adaptiveValue('width', 60, 40);
      @include adaptiveValue('height', 130, 100);
      object-fit: contain;
    }
  }

  &__step {
    align-self: center;
    width: 100px;
    height: 120px;
    @include adaptiveValue('width', 100, 80);
    @include adaptiveValue('height', 120, 100);

    &.mirror {
      transform: scaleX(-1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
