@import '@/app/styles';

.input {
  display: block;
  width: 600px;
  height: 45px;
  padding: 0px 15px;

  font-size: 20px;

  border-radius: 0 !important;

  &:focus {
    &::placeholder {
      color: transparent;
      transition: all 0.2s ease 0s;
    }
  }
}
