.mission {
  padding: 50px 0px;
  @include adaptiveValue('padding-top', 50, 25);
  @include adaptiveValue('padding-bottom', 50, 25);
  position: relative;

  &__red {
    top: 25%;
    left: 10%;

    @media (max-width: $mobileSmall) {
      top: 10%;
      left: 10%;
    }
  }

  &__green {
    bottom: 0;
    right: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @include adaptiveValue('gap', 50, 25);

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__square {
    width: 70px;
    height: 70px;
    @include adaptiveValue('width', 70, 50);
    @include adaptiveValue('height', 70, 50);

    border-radius: 20px;
    @include adaptiveValue('border-radius', 20, 15);
    background-color: #24272c;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25) inset;
  }

  &__text {
    padding: 40px 20px 40px 70px;
    @include adaptiveValue('padding-top', 40, 20);
    @include adaptiveValue('padding-bottom', 40, 20);
    @include adaptiveValue('padding-right', 20, 10);
    @include adaptiveValue('padding-left', 70, 35);
    max-width: 1300px;
    @include adaptiveValue('max-width', 1300, 290);

    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 20px;
    @include adaptiveValue('font-size', 20, 16);

    border-radius: 15px;
    background-color: #24272c;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25) inset;

    @media (max-width: $tablet) {
      max-width: 100%;
    }
  }

  &__author {
    align-self: end;
    padding: 25px;
    @include adaptiveValue('padding-top', 25, 20);
    @include adaptiveValue('padding-bottom', 25, 20);
    @include adaptiveValue('padding-right', 25, 20);
    @include adaptiveValue('padding-left', 25, 20);

    font-size: 20px;
    @include adaptiveValue('font-size', 20, 16);

    border-radius: 15px;
    background-color: #24272c;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25) inset;
  }
}
