@import '@/app/styles/base/mixins';

.competitor {
  padding: 50px 0px 0px 0px;
  @include adaptiveValue('padding-top', 50, 25);

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    // text-align: justify;
    font-size: 25px;
    @include adaptiveValue('font-size', 25, 18);

    a {
      color: #6aafff;
    }
  }

  &__arrow {
    padding: 50px 0px 0px 0px;
    @include adaptiveValue('padding-top', 50, 25);
    align-self: center;

    img {
      width: 80px;
      height: 150px;
      @include adaptiveValue('width', 80, 40);
      @include adaptiveValue('height', 150, 100);
      object-fit: contain;
    }
  }
}
