@import '@/app/styles/base/mixins';

.mentors {
  padding: 50px 0px 0px 0px;
  @include adaptiveValue('padding-top', 50, 25);

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    @include adaptiveValue('gap', 30, 15);
  }

  &__title {
    font-size: 35px;
    @include adaptiveValue('font-size', 35, 25);
  }

  &__arrow {
    margin: 50px 0px 0px 0px;
    align-self: center;

    img {
      width: 60px;
      height: 130px;
      @include adaptiveValue('width', 60, 40);
      @include adaptiveValue('height', 130, 100);
      object-fit: contain;
    }
  }
}
