@import '@/app/styles';

.questions {
  padding: 50px 0px;
  @include adaptiveValue('padding-top', 50, 25);
  @include adaptiveValue('padding-bottom', 50, 25);

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include adaptiveValue('gap', 30, 15);
  }

  &__title {
    font-size: 35px;
    @include adaptiveValue('font-size', 35, 22);
  }
}
