@font-face {
  font-family: GoshaSans;
  font-display: swap;
  src:
    url('./GoshaSans-Bold.woff2') format('woff2'),
    url('./GoshaSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: GoshaSans;
  font-display: swap;
  src:
    url('./GoshaSans-Regular.woff2') format('woff2'),
    url('./GoshaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
